<!doctype html>
<head>

	<title>Medicamento</title>
	
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans'rel='stylesheet' type='text/css'>
	<link href="/css/estilosmed.css" rel="stylesheet" type="text/css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link href="/css/horizBarChart.css" media="all" rel="stylesheet" type="text/css" />
	<script src="/js/jquery.horizBarChart.min.js"></script>
	<script type="text/javascript" src="/js/jquery.typeahead.js"></script>	
	
	<script type="text/javascript">
		var myCountry = '';
		var codeCountry = 'COP';
		var tasaBase = 1.0;
		  	
		$.getJSON('http://api.wipmania.com/jsonp?callback=?', function (data) { 
			d = data.address.country;
			d = d.toUpperCase()
			c = data.address.country_code;
			if(c == 'CO') {
				c = 'COP';
			}
			getMyCountry(d,c);
		});
		  
		function getMyCountry(data, code){
			this.myCountry = data;
			this.codeCountry = code;
		  	main();
		}
		
		function setTasaBase(n) {
			this.tasaBase = n;
		}
		
		function cleanDiv(name) {
			var e = document.getElementById(name);
			e.innerHTML = "";
		}
		
		function changeCountry(){
			var listSelect = document.getElementById('countries').value;
			if(listSelect != 'Seleccione un Pais') {
				cleanDiv("pre");
				myCountry = listSelect;
				main();
			}			
		}
		
		function changeMoney() {
			var listSelect = document.getElementById('money').value;
			this.codeCountry = listSelect;
			if(listSelect == 'COP') {
				setTasaBase(1);
				cleanDiv("pre");
		    	main();
			}
			else if(listSelect != 'Seleccione la Moneda') {
				$.ajax({
				    url: '/mayorista/change_money',
				    type: 'POST',
				    data: ("&money=" + listSelect),
				    success: function(res) {
				    	setTasaBase( parseFloat(res.split(" ")[0]) );
				    	cleanDiv("pre");
				    	main();
				    }
				});
			}
		}
	</script>

	<style type="text/css">
		.modalDialog {
			position: fixed;
			font-family: Arial, Helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			z-index: 99999;
			opacity: 0;
			-webkit-transition: opacity 400ms ease-in;
			-moz-transition: opacity 400ms ease-in;
			transition: opacity 400ms ease-in;
			pointer-events: none;
		}
		
		.modalDialog:target {
			opacity: 1;
			pointer-events: auto;
		}
		
		.modalDialog>div {
			width: 400px;
			position: relative;
			margin: 10% auto;
			padding: 5px 20px 13px 20px;
			border-radius: 10px;
			background: #fff;
			background: -moz-linear-gradient(#fff, #999);
			background: -webkit-linear-gradient(#fff, #999);
			background: -o-linear-gradient(#fff, #999);
		}
		
		/* 'star-rating' component */
		.starRate {
			position: relative;
			overflow: hidden;
			zoom: 1;
			z-index: 1;
		}	
		.starRate ul {
			width: 160px;
			margin: 0;
			padding: 0;
		}	
		.starRate li {
			display: inline;
			list-style: none;
		}	
		.starRate a,.starRate b {
			background: url(/img/star_rate.gif) left top repeat-x;
		}	
		.starRate a {
			float: right;
			margin: 0 80px 0 -144px;
			width: 80px;
			height: 16px;
			background-position: left 16px;
			color: #000;
			text-decoration: none;
		}	
		.starRate a:hover {
			background-position: left -32px;
		}	
		.starRate b {
			position: absolute;
			z-index: -1;
			width: 80px;
			height: 16px;
			background-position: left -16px;
		}	
		.starRate div b {
			left: 0px;
			bottom: 0px;
			background-position: left top;
		}	
		.starRate a span {
			position: absolute;
			left: -300px;
		}	
		.starRate a:hover span {
			left: 90px;
			width: 100%;
		}
		.addfav {
			float:left;
		}
	</style>
	<script type="text/javascript">
       jQuery(document).ready(function()
        {
                var d = new Date();
                d = d.getTime();
                if (jQuery('#reloadValue').val().length == 0)
                {
                        jQuery('#reloadValue').val(d);
                        jQuery('body').show();
                }
                else
                {
                        jQuery('#reloadValue').val('');
                        location.reload();
                }
        });
   </script>
</head>
<body>
 <input id="reloadValue" type="hidden" name="reloadValue" value="" />

{% if ferris.format_value(this.user) != "None" %}
	Welcome {{ferris.format_value(this.user.full_name)}} - {{ferris.format_value(this.user.email)}}
    {% if user_provider_login == 'facebook' %}    	
    	<img alt="user_img" src="http://graph.facebook.com/{{user_id_login}}/picture?type=square">
    {% elif  user_provider_login == 'google'%}
    	<img alt="user_img" src="https://profiles.google.com/s2/photos/profile/{{user_id_login}}">
    {% elif  user_provider_login == 'twitter'%}
    	<img alt="user_img" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png">
    {% endif %}
{% endif %}
    
    <div id="barbusqueda">
        <div class="posbuscador">
            <!-- <input id="entrada" type="text" value="BUSCA EL MEDICAMENTO"/> -->                	
        	<input id="medicam" class="medicam" type="text" placeholder="BUSCA EL MEDICAMENTO" required />
    	</div>
    	<div id="contendorfondo">
        	<a href="#" style="text-decoration:none" onclick="getUrl()"><button value="Buscar">buscar</button> </a>
        </div>
	</div>
	
	<div id="openModal" class="modalDialog">
		<div>
			<a href="#close" title="Close" class="close" onclick="reFresh()">X</a>
			<div class="col-md-4 col-xs-6 form-group">
		        <a href="{{uri('user:social_login', provider_name='twitter', return_url='/' )}}" class="btn btn-block btn-sm btn-info">Twitter</a>
		        <a href="/social-login/twitter?return_url=/" class="btn btn-block btn-sm btn-info">Twitter</a>
		    </div>
			<object type="text/html" data="/login" width="400" height="400"> </object>
		</div>
	</div>

	
	{% if ferris.format_value(this.user) == "None" %}
		
	{% else %}
		<a href="/logout">
			<input type="submit" value="Logout" />
		</a>
		<a href="/mayorista/view_favorites">
			<input type="submit" value="Mis Favoritos" />
		</a>
		
		
	{% endif %}
	
	<div class="container">
		<div class="medheader">
			<div class="topmedicamento">
				<div class="medicamento-header" layout horizontal center>
					<div id="titlemed" class="titlemed"></div>
					<div class="addfav">
						{% if ferris.format_value(this.user) == "None" %}
							<a href="#openModal">
								<img class="custom" id="toes" src="/images/addfavoritos.png" aria-label="octocat" title="octocat" role="button" tabindex="0">
							</a>
					</div>
					<div id="calificamed" >
							<div class="starRate">
								<div><b></b></div>
								<ul>
									{% if medication.calification_average == 5 %}
										<li><a href="#openModal"><span>Calificar con 5 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#openModal"><span>Calificar con 5 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 4 %}
										<li><a href="#openModal"><span>Calificar con 4 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#openModal"><span>Calificar con 4 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 3 %}
										<li><a href="#openModal"><span>Calificar con 3 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#openModal"><span>Calificar con 3 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 2 %}
										<li><a href="#openModal"><span>Calificar con 2 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#openModal"><span>Calificar con 2 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 1 %}
										<li><a href="#openModal"><span>Calificar con 1 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#openModal"><span>Calificar con 1 estrellas</span></a></li>
									{% endif %}
								</ul>
							</div>
						{% else %}
							<a href="#" onclick="sendPOST()">
								<img class="custom" id="toes" src="/images/addfavoritos.png" aria-label="octocat" title="octocat" role="button" tabindex="0">
							</a>
							<div class="starRate">
								<div><b></b></div>
								<ul>
									{% if medication.calification_average == 5 %}
										<li><a href="#" onclick="sendCalification(5,'{{medication.key.urlsafe()}}')"><span>Calificar con 5 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#" onclick="sendCalification(5,'{{medication.key.urlsafe()}}')"><span>Calificar con 5 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 4 %}
										<li><a href="#" onclick="sendCalification(4,'{{medication.key.urlsafe()}}')"><span>Calificar con 4 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#" onclick="sendCalification(4,'{{medication.key.urlsafe()}}')"><span>Calificar con 4 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 3 %}
										<li><a href="#" onclick="sendCalification(3,'{{medication.key.urlsafe()}}')"><span>Calificar con 3 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#" onclick="sendCalification(3,'{{medication.key.urlsafe()}}')"><span>Calificar con 3 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 2 %}
										<li><a href="#" onclick="sendCalification(2,'{{medication.key.urlsafe()}}')"><span>Calificar con 2 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#" onclick="sendCalification(2,'{{medication.key.urlsafe()}}')"><span>Calificar con 2 estrellas</span></a></li>
									{% endif %}			
									{% if medication.calification_average == 1 %}
										<li><a href="#" onclick="sendCalification(1,'{{medication.key.urlsafe()}}')"><span>Calificar con 1 estrellas</span><b></b></a></li>
									{% else %}
										<li><a href="#" onclick="sendCalification(1,'{{medication.key.urlsafe()}}')"><span>Calificar con 1 estrellas</span></a></li>
									{% endif %}
								</ul>
							</div>
						{% endif %}
					</div>

				</div>
				<div class="lineaseparacion">&nbsp;</div>
				<div class="medicamento-body">

					<div class="ico_tipo_medicamento">
						<img src="/images/pastilla.png" />
					</div>
					<div class="informacion_total">
						<div class="row">
							<div id="codigo_CUM" class="codigo_CUM"></div>
						</div>
						<div class="row">
							<div class="caracteristicas_medicamento">
								<div class="titulo_caracteristica">Producto</div>
								<div id="info_caracteristica_prod" class="info_caracteristica"></div>
							</div>
							<div class="separadorvertical">&nbsp;</div>
							<div class="caracteristicas_medicamento">
								<div class="titulo_caracteristica">Cantidad de principio activo</div>
								<div id="info_caracteristica_cant" class="info_caracteristica"></div>
							</div>
							<div class="separadorvertical">&nbsp;</div>
							<div class="caracteristicas_medicamento">
								<div class="titulo_caracteristica">Presentación comercial</div>
								<div id="info_caracteristica_pres" class="info_caracteristica"></div>
							</div>
							<div class="separadorvertical">&nbsp;</div>
							<div class="caracteristicas_medicamento">
								<div class="titulo_caracteristica">Titular</div>
								<div id="info_caracteristica_titu" class="info_caracteristica"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="precioheader">
				<div class="tituloprecio">PRECIO MAYORISTAS</div>
				<div class="contenedorprecio">
					<div id="valormedicamento" class="valormedicamento"></div>
					<div class="tasadecambio">

						<!-- dropdown cambio de moneda-->
						<select id="money" onchange="changeMoney()">
							<option value="Seleccione la Moneda" selected="">Seleccione la Moneda</option>
							<option value="AED">United Arab Emirates Dirham (AED)</option>
							<option value="AFN">Afghan Afghani (AFN)</option>
							<option value="ALL">Albanian Lek (ALL)</option>
							<option value="AMD">Armenian Dram (AMD)</option>
							<option value="ANG">Netherlands Antillean Guilder (ANG)</option>
							<option value="AOA">Angolan Kwanza (AOA)</option>
							<option value="ARS">Argentine Peso (ARS)</option>
							<option value="AUD">Australian Dollar (A$)</option>
							<option value="AWG">Aruban Florin (AWG)</option>
							<option value="AZN">Azerbaijani Manat (AZN)</option>
							<option value="BAM">Bosnia-Herzegovina Convertible Mark (BAM)</option>
							<option value="BBD">Barbadian Dollar (BBD)</option>
							<option value="BDT">Bangladeshi Taka (BDT)</option>
							<option value="BGN">Bulgarian Lev (BGN)</option>
							<option value="BHD">Bahraini Dinar (BHD)</option>
							<option value="BIF">Burundian Franc (BIF)</option>
							<option value="BMD">Bermudan Dollar (BMD)</option>
							<option value="BND">Brunei Dollar (BND)</option>
							<option value="BOB">Bolivian Boliviano (BOB)</option>
							<option value="BRL">Brazilian Real (R$)</option>
							<option value="BSD">Bahamian Dollar (BSD)</option>
							<option value="BTC">Bitcoin (฿)</option>
							<option value="BTN">Bhutanese Ngultrum (BTN)</option>
							<option value="BWP">Botswanan Pula (BWP)</option>
							<option value="BYR">Belarusian Ruble (BYR)</option>
							<option value="BZD">Belize Dollar (BZD)</option>
							<option value="CAD">Canadian Dollar (CA$)</option>
							<option value="CDF">Congolese Franc (CDF)</option>
							<option value="CHF">Swiss Franc (CHF)</option>
							<option value="CLF">Chilean Unit of Account (UF) (CLF)</option>
							<option value="CLP">Chilean Peso (CLP)</option>
							<option value="CNH">CNH (CNH)</option>
							<option value="CNY">Chinese Yuan (CN¥)</option>
							<option value="COP">Colombian Peso (COP)</option>
							<option value="CRC">Costa Rican Colón (CRC)</option>
							<option value="CUP">Cuban Peso (CUP)</option>
							<option value="CVE">Cape Verdean Escudo (CVE)</option>
							<option value="CZK">Czech Republic Koruna (CZK)</option>
							<option value="DEM">German Mark (DEM)</option>
							<option value="DJF">Djiboutian Franc (DJF)</option>
							<option value="DKK">Danish Krone (DKK)</option>
							<option value="DOP">Dominican Peso (DOP)</option>
							<option value="DZD">Algerian Dinar (DZD)</option>
							<option value="EGP">Egyptian Pound (EGP)</option>
							<option value="ERN">Eritrean Nakfa (ERN)</option>
							<option value="ETB">Ethiopian Birr (ETB)</option>
							<option value="EUR">Euro (€)</option>
							<option value="FIM">Finnish Markka (FIM)</option>
							<option value="FJD">Fijian Dollar (FJD)</option>
							<option value="FKP">Falkland Islands Pound (FKP)</option>
							<option value="FRF">French Franc (FRF)</option>
							<option value="GBP">British Pound Sterling (£)</option>
							<option value="GEL">Georgian Lari (GEL)</option>
							<option value="GHS">Ghanaian Cedi (GHS)</option>
							<option value="GIP">Gibraltar Pound (GIP)</option>
							<option value="GMD">Gambian Dalasi (GMD)</option>
							<option value="GNF">Guinean Franc (GNF)</option>
							<option value="GTQ">Guatemalan Quetzal (GTQ)</option>
							<option value="GYD">Guyanaese Dollar (GYD)</option>
							<option value="HKD">Hong Kong Dollar (HK$)</option>
							<option value="HNL">Honduran Lempira (HNL)</option>
							<option value="HRK">Croatian Kuna (HRK)</option>
							<option value="HTG">Haitian Gourde (HTG)</option>
							<option value="HUF">Hungarian Forint (HUF)</option>
							<option value="IDR">Indonesian Rupiah (IDR)</option>
							<option value="IEP">Irish Pound (IEP)</option>
							<option value="ILS">Israeli New Sheqel (₪)</option>
							<option value="INR">Indian Rupee (Rs.)</option>
							<option value="IQD">Iraqi Dinar (IQD)</option>
							<option value="IRR">Iranian Rial (IRR)</option>
							<option value="ISK">Icelandic Króna (ISK)</option>
							<option value="ITL">Italian Lira (ITL)</option>
							<option value="JMD">Jamaican Dollar (JMD)</option>
							<option value="JOD">Jordanian Dinar (JOD)</option>
							<option value="JPY">Japanese Yen (¥)</option>
							<option value="KES">Kenyan Shilling (KES)</option>
							<option value="KGS">Kyrgystani Som (KGS)</option>
							<option value="KHR">Cambodian Riel (KHR)</option>
							<option value="KMF">Comorian Franc (KMF)</option>
							<option value="KPW">North Korean Won (KPW)</option>
							<option value="KRW">South Korean Won (₩)</option>
							<option value="KWD">Kuwaiti Dinar (KWD)</option>
							<option value="KYD">Cayman Islands Dollar (KYD)</option>
							<option value="KZT">Kazakhstani Tenge (KZT)</option>
							<option value="LAK">Laotian Kip (LAK)</option>
							<option value="LBP">Lebanese Pound (LBP)</option>
							<option value="LKR">Sri Lankan Rupee (LKR)</option>
							<option value="LRD">Liberian Dollar (LRD)</option>
							<option value="LSL">Lesotho Loti (LSL)</option>
							<option value="LTL">Lithuanian Litas (LTL)</option>
							<option value="LVL">Latvian Lats (LVL)</option>
							<option value="LYD">Libyan Dinar (LYD)</option>
							<option value="MAD">Moroccan Dirham (MAD)</option>
							<option value="MDL">Moldovan Leu (MDL)</option>
							<option value="MGA">Malagasy Ariary (MGA)</option>
							<option value="MKD">Macedonian Denar (MKD)</option>
							<option value="MMK">Myanmar Kyat (MMK)</option>
							<option value="MNT">Mongolian Tugrik (MNT)</option>
							<option value="MOP">Macanese Pataca (MOP)</option>
							<option value="MRO">Mauritanian Ouguiya (MRO)</option>
							<option value="MUR">Mauritian Rupee (MUR)</option>
							<option value="MVR">Maldivian Rufiyaa (MVR)</option>
							<option value="MWK">Malawian Kwacha (MWK)</option>
							<option value="MXN">Mexican Peso (MX$)</option>
							<option value="MYR">Malaysian Ringgit (MYR)</option>
							<option value="MZN">Mozambican Metical (MZN)</option>
							<option value="NAD">Namibian Dollar (NAD)</option>
							<option value="NGN">Nigerian Naira (NGN)</option>
							<option value="NIO">Nicaraguan Córdoba (NIO)</option>
							<option value="NOK">Norwegian Krone (NOK)</option>
							<option value="NPR">Nepalese Rupee (NPR)</option>
							<option value="NZD">New Zealand Dollar (NZ$)</option>
							<option value="OMR">Omani Rial (OMR)</option>
							<option value="PAB">Panamanian Balboa (PAB)</option>
							<option value="PEN">Peruvian Nuevo Sol (PEN)</option>
							<option value="PGK">Papua New Guinean Kina (PGK)</option>
							<option value="PHP">Philippine Peso (Php)</option>
							<option value="PKG">PKG (PKG)</option>
							<option value="PKR">Pakistani Rupee (PKR)</option>
							<option value="PLN">Polish Zloty (PLN)</option>
							<option value="PYG">Paraguayan Guarani (PYG)</option>
							<option value="QAR">Qatari Rial (QAR)</option>
							<option value="RON">Romanian Leu (RON)</option>
							<option value="RSD">Serbian Dinar (RSD)</option>
							<option value="RUB">Russian Ruble (RUB)</option>
							<option value="RWF">Rwandan Franc (RWF)</option>
							<option value="SAR">Saudi Riyal (SAR)</option>
							<option value="SBD">Solomon Islands Dollar (SBD)</option>
							<option value="SCR">Seychellois Rupee (SCR)</option>
							<option value="SDG">Sudanese Pound (SDG)</option>
							<option value="SEK">Swedish Krona (SEK)</option>
							<option value="SGD">Singapore Dollar (SGD)</option>
							<option value="SHP">Saint Helena Pound (SHP)</option>
							<option value="SLL">Sierra Leonean Leone (SLL)</option>
							<option value="SOS">Somali Shilling (SOS)</option>
							<option value="SRD">Surinamese Dollar (SRD)</option>
							<option value="STD">São Tomé and Príncipe Dobra (STD)</option>
							<option value="SVC">Salvadoran Colón (SVC)</option>
							<option value="SYP">Syrian Pound (SYP)</option>
							<option value="SZL">Swazi Lilangeni (SZL)</option>
							<option value="THB">Thai Baht (฿)</option>
							<option value="TJS">Tajikistani Somoni (TJS)</option>
							<option value="TMT">Turkmenistani Manat (TMT)</option>
							<option value="TND">Tunisian Dinar (TND)</option>
							<option value="TOP">Tongan Paʻanga (TOP)</option>
							<option value="TRY">Turkish Lira (TRY)</option>
							<option value="TTD">Trinidad and Tobago Dollar (TTD)</option>
							<option value="TWD">New Taiwan Dollar (NT$)</option>
							<option value="TZS">Tanzanian Shilling (TZS)</option>
							<option value="UAH">Ukrainian Hryvnia (UAH)</option>
							<option value="UGX">Ugandan Shilling (UGX)</option>
							<option value="USD">US Dollar ($)</option>
							<option value="UYU">Uruguayan Peso (UYU)</option>
							<option value="UZS">Uzbekistan Som (UZS)</option>
							<option value="VEF">Venezuelan Bolívar (VEF)</option>
							<option value="VND">Vietnamese Dong (₫)</option>
							<option value="VUV">Vanuatu Vatu (VUV)</option>
							<option value="WST">Samoan Tala (WST)</option>
							<option value="XAF">CFA Franc BEAC (FCFA)</option>
							<option value="XCD">East Caribbean Dollar (EC$)</option>
							<option value="XDR">Special Drawing Rights (XDR)</option>
							<option value="XOF">CFA Franc BCEAO (CFA)</option>
							<option value="XPF">CFP Franc (CFPF)</option>
							<option value="YER">Yemeni Rial (YER)</option>
							<option value="ZAR">South African Rand (ZAR)</option>
							<option value="ZMK">Zambian Kwacha (1968–2012) (ZMK)</option>
							<option value="ZMW">Zambian Kwacha (ZMW)</option>
							<option value="ZWL">Zimbabwean Dollar (2009) (ZWL)</option>
						</select>


					</div>
				</div>
			</div>
			<div class="lineaseparacion">&nbsp;</div>
		</div>
		
		<div class="relacionadotitu">COMPARACIÓN</div>
		<div class="graficosmedicamento">
			<div class="chart-horiz clearfix">
    			<ul id="chart" class="chart">
		        	<li class="title" title="TITLE 1"></li>
		        </ul>
	    	</div>	    		
		</div>
		
		<div class="lineaseparacion">&nbsp;</div>
		
		<!-- Creacion de Medicamentos Relacionados -->
		<div id="pre">
					
		</div>
		

		<div class="lineaseparacion"></div>

		<div class="comment-user">
			<div class="topcomment">
				<div class="comment-body">

					<div class="ico_persona">
						<img src="/images/avatar-01.svg">
					</div>
					<div class="info_comment">
						<div class="rowuser barusuariocomment">
							<div class="nombre_usuario">pepito perez</div>
							<div class="fechacomment">Hace 3 días</div>
							<div class="contestrella">
								<div class="estrellas">
									<img src="/images/facebook_blanco.png" />
								</div>
								<div class="estrellas">
									<img src="/images/twitter_blanco.png" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="text_comentario">no me parece</div>


						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>

<script type="text/javascript">
		var cost = [];
		
		function formato_numero(numero, decimales, separador_decimal, separador_miles){ 
		    numero=parseFloat(numero);
		    if(isNaN(numero)){
		        return "";
		    }

		    if(decimales!==undefined){
		        // Redondeamos
		        numero=numero.toFixed(decimales);
		    }

		    // Convertimos el punto en separador_decimal
		    numero=numero.toString().replace(".", separador_decimal!==undefined ? separador_decimal : ",");

		    if(separador_miles){
		        // Añadimos los separadores de miles
		        var miles=new RegExp("(-?[0-9]+)([0-9]{3})");
		        while(miles.test(numero)) {
		            numero=numero.replace(miles, "$1" + separador_miles + "$2");
		        }
		    }

		    return numero;
		}
		
		function setInfoMedication(theCost, theMyCountry, thePosition) {
			document.getElementById("titlemed").innerHTML = "{{medication.descripcion_atc}}";
			document.getElementById("codigo_CUM").innerHTML = "CUM # {{medication.cum}}";
			document.getElementById("info_caracteristica_prod").innerHTML = "{{medication.producto}}";
			document.getElementById("info_caracteristica_cant").innerHTML = "{{medication.cantidad_principio_activo}} {{medication.unidad_base}}";
			document.getElementById("info_caracteristica_pres").innerHTML = "{{medication.presentacion_comercial}}";
			document.getElementById("info_caracteristica_titu").innerHTML = "{{medication.titular}}";
			document.getElementById("valormedicamento").innerHTML = formato_numero(theCost[thePosition], 2, ',', '.') + ' ' + codeCountry;
		}
		
		function main(){
			{% set count2 = 0 %}
			{% for c in medication.precio_maximo_de_venta_punto_mayorista %}
				cost[{{count2}}] = parseFloat('{{c}}')*tasaBase;
				{% set count2 = count2 + 1 %}
			{% endfor %}
			
			var country = [];
			var chart = document.getElementById("chart");
			var lis = document.querySelectorAll('#chart li');
			for(var i=0; li=lis[i]; i++) {
			    li.parentNode.removeChild(li);
			}
			
			{% set count2 = 0 %}
			{% for c in medication.pais %}
				country[{{count2}}] = '{{c}}';
				
				var li = document.createElement("li");
		  		var span1 = document.createElement("span");
		  		var span2 = document.createElement("span");
		  		var textoSpan2 = document.createTextNode(Number((cost[{{count2}}]).toFixed(1)) );
		  		
		  		span2.setAttribute("class", "number");
		  		
		  		span1.setAttribute("class", "bar");
		  		span1.setAttribute("data-number", cost[{{count2}}]);
		  		
		  		li.setAttribute("class", "past{{count2}}");
		  		li.setAttribute("title", "{{c}}");
		  		
		  		span2.appendChild(textoSpan2);
		  		li.appendChild(span1);
		  		li.appendChild(span2);
		  		chart.appendChild(li);
				
				{% set count2 = count2 + 1 %}
			{% endfor %}
			
			var posit = country.indexOf(myCountry);
			setInfoMedication(cost, myCountry, posit);			
		  	
		  	{% if length_presentations == 1 %}
		  		var countries = [];
		  		
		  		{% set count = 0 %}
				{% for c in medication.pais %}
					countries.push('{{c}}');										
					{% set count = count + 1 %}<fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();" >Facebook</fb:login-button>
					<a href="/{{this.name}}/{{this.route.action}}/:{{medication.key.urlsafe()}}?mode=login">
			   		<input type="button" value="Login Twitter" />
				</a>
				{% endfor %}
		  		
		  	{% else %}
		  		
		  		
				/* var body = document.getElementById("pre");
				var tabla = document.createElement("table");
				var tblHead = document.createElement("thead");
				var tblBody = document.createElement("tbody");
				 
				var fila = document.createElement("tr");
				var celda = document.createElement("th");
				var textoCelda = document.createTextNode("Descripción ATC");
				celda.appendChild(textoCelda);
				fila.appendChild(celda);
					
				celda = document.createElement("th");
				textoCelda = document.createTextNode("Presentación Comercial");
				celda.appendChild(textoCelda);
				fila.appendChild(celda);
					
				celda = document.createElement("th");
				textoCelda = document.createTextNode("Precio maximo de venta punto mayorista" + " (" + codeCountry + ")");
				celda.appendChild(textoCelda);
				fila.appendChild(celda);
					
				tblHead.appendChild(fila); */
				
				var countries = [];
				
				var count = 0;
				{% set count = 0 %}
				{% for item in presentations if item!=medication %}
					var medi{{count}} = ['{{item.descripcion_atc}}', '{{item.presentacion_comercial}}', '{{item.cum}}', '{{item.key.urlsafe()}}'];
					
					var country{{count}} = [];
					{% set count2 = 0 %}
					{% for c in item.pais %}
						country{{count}}[{{count2}}] = '{{c}}';
	
						if(countries.indexOf('{{c}}')== -1){
							countries.push('{{c}}');
						}
						
						{% set count2 = count2 + 1 %}
					{% endfor %}
					
					var cost{{count}} = [];
					{% set count2 = 0 %}
					{% for c in item.precio_maximo_de_venta_punto_mayorista %}
						cost{{count}}[{{count2}}] = parseFloat('{{c}}')*tasaBase;
												  
						{% set count2 = count2 + 1 %}
					{% endfor %}
							
					/* fila = document.createElement("tr");
					
				    celda = document.createElement("td");
				    var link = document.createElement('a'); 
				    link.setAttribute('href','/mayorista/view_medication/:'+medi{{count}}[3]);
				    textoCelda = document.createTextNode(medi{{count}}[0]);
					link.appendChild(textoCelda);
					celda.appendChild(link);
					fila.appendChild(celda);			    			    
					tblBody.appendChild(fila);
		
				    celda = document.createElement("td");
				    var link = document.createElement('a'); 
				    link.setAttribute('href','/mayorista/view_medication/:'+medi{{count}}[3]);
				    textoCelda = document.createTextNode(medi{{count}}[1]);
				    link.appendChild(textoCelda);
					celda.appendChild(link);
					fila.appendChild(celda);
					tblBody.appendChild(fila);
					
					var pos = country{{count}}.indexOf(myCountry);
					   
					celda = document.createElement("td");
				    textoCelda = document.createTextNode('$ ' + cost{{count}}[pos]);
					celda.appendChild(textoCelda);
					fila.appendChild(celda);
					tblBody.appendChild(fila); */
								    
					var pos = country{{count}}.indexOf(myCountry);
					
					var pre = document.getElementById("pre");
			  		var med_relacionado = document.createElement("div");
			  		med_relacionado.setAttribute("class", "med-relacionado");
				  		var topmedrel = document.createElement("div");
				  		topmedrel.setAttribute("class", "topmedrel");
					  		var medrel_body = document.createElement("div");
					  		medrel_body.setAttribute("class", "medrel-body");
						  		var ico_tipo_medicamento2 = document.createElement("div");
						  		ico_tipo_medicamento2.setAttribute("class", "ico_tipo_medicamento2");
							  		var img1 = document.createElement("img");
							  		img1.setAttribute("src","/images/pastilla.png");
						  		var inforel_left = document.createElement("div");
						  		inforel_left.setAttribute("class","inforel_left");
						  			var row_datanamerel = document.createElement("div");
						  			row_datanamerel.setAttribute("class","row datanamerel");
						  				var titlemedrel = document.createElement("div");
						  				titlemedrel.setAttribute("class","titlemedrel");
						  				var link = document.createElement('a');
						  				link.setAttribute('href','/mayorista/view_medication/:'+medi{{count}}[3]);
						  				var text_titlemedrel = document.createTextNode("{{item.descripcion_atc}}");
						  				
						  				var cod_CUM_rel = document.createElement("div");
						  				cod_CUM_rel.setAttribute("class","cod_CUM_rel");
						  				var text_cod_CUM_rel = document.createTextNode("CUM # {{item.cum}}");
						  				
						  				var contestrella = document.createElement("div");
						  				contestrella.setAttribute("class","contestrella");
						  					var estrellas1 = document.createElement("div");
						  					estrellas1.setAttribute("class","estrellas");
						  						var img2 = document.createElement("img");
						  						img2.setAttribute("src","/images/estrella_color.png");
						  					var estrellas2 = document.createElement("div");
							  				estrellas2.setAttribute("class","estrellas");
							  					var img3 = document.createElement("img");
							  					img3.setAttribute("src","/images/estrella_color.png");
							  				var estrellas3 = document.createElement("div");
							  				estrellas3.setAttribute("class","estrellas");
							  					var img4 = document.createElement("img");
							  					img4.setAttribute("src","/images/estrella_color.png");
							  				var estrellas4 = document.createElement("div");
							  				estrellas4.setAttribute("class","estrellas");
							  					var img5 = document.createElement("img");
							  					img5.setAttribute("src","/images/estrella_color.png");
							  				var estrellas5 = document.createElement("div");
							  				estrellas5.setAttribute("class","estrellas");
							  					var img6 = document.createElement("img");
							  					img6.setAttribute("src","/images/estrella_linea.png");
							  				var estrellas_usuaestrellas = document.createElement("div");
							  				estrellas_usuaestrellas.setAttribute("class","estrellas usuaestrellas");
							  				var text_estrellas_usuaestrellas = document.createTextNode("({% if item.calification_amount==None %}0{% else %}{{item.calification_amount}}{% endif %})");
							  		var row = document.createElement("div");
							  		row.setAttribute("class","row");
							  			var caracteristicas_medrel1 = document.createElement("div");
							  			caracteristicas_medrel1.setAttribute("class","caracteristicas_medrel");
							  				var info_caracteristica2_dataproductmain = document.createElement("div");
							  				info_caracteristica2_dataproductmain.setAttribute("class","info_caracteristica2 dataproductmain");
							  					var text_info_caracteristica2_dataproductmain = document.createTextNode("{{item.producto}}");
							  			var separadorvertical1 = document.createElement("div");
							  			separadorvertical1.setAttribute("class","separadorvertical");
							  				var text_separadorvertical = document.createTextNode("&nbsp;");
							  			var caracteristicas_medrel2 = document.createElement("div");
							  			caracteristicas_medrel2.setAttribute("class","caracteristicas_medrel");
							  				var info_caracteristica2_1 = document.createElement("div");
							  				info_caracteristica2_1.setAttribute("class","info_caracteristica2");
							  					var text_info_caracteristica2_1 = document.createTextNode("{{item.cantidad_principio_activo}} {{item.unidad_base}}");
							  			var separadorvertical2 = document.createElement("div");
							  			separadorvertical2.setAttribute("class","separadorvertical");
								  		
								  		var caracteristicas_medrel3 = document.createElement("div");
							  			caracteristicas_medrel3.setAttribute("class","caracteristicas_medrel");
								  			var info_caracteristica2_2 = document.createElement("div");
							  				info_caracteristica2_2.setAttribute("class","info_caracteristica2");
							  					var text_info_caracteristica2_2 = document.createTextNode("{{item.presentacion_comercial}}");
							  			
							  			var separadorvertical3 = document.createElement("div");
									  	separadorvertical3.setAttribute("class","separadorvertical");
							  			
							  			var caracteristicas_medrel4 = document.createElement("div");
							  			caracteristicas_medrel4.setAttribute("class","caracteristicas_medrel");
								  			var info_caracteristica2_3 = document.createElement("div");
							  				info_caracteristica2_3.setAttribute("class","info_caracteristica2");
							  					var text_info_caracteristica2_3 = document.createTextNode("{{item.titular}}");
						  		
						  		var inforel_right = document.createElement("div"); 
						  		inforel_right.setAttribute("class","inforel_right");
						  			var valormedrel = document.createElement("div");
						  			valormedrel.setAttribute("class","valormedrel");
						  			var text_valormedrel = document.createTextNode(formato_numero(cost{{count}}[pos], 2, ',', '.') + " " + codeCountry);
						  			
		  		ico_tipo_medicamento2.appendChild(img1);
		  		medrel_body.appendChild(ico_tipo_medicamento2);
		  		
		  		titlemedrel.appendChild(text_titlemedrel);
		  		link.appendChild(titlemedrel);
		  		row_datanamerel.appendChild(link);
		  		cod_CUM_rel.appendChild(text_cod_CUM_rel);
		  		row_datanamerel.appendChild(cod_CUM_rel);
		  		
		  		var startRate = document.createElement("div");
		  		startRate.setAttribute("class","starRate");
		  		var start_d = document.createElement("div");
		  		var start_b1 = document.createElement("b");
		  		var start_ul = document.createElement("ul");
		  		
		  		{% if ferris.format_value(this.user) == "None" %}
			  		var start_li1 = document.createElement("li");
			  		var start_a1 = document.createElement("a");
			  		start_a1.setAttribute("href","#openModal");
			  		var start_span1 = document.createElement("span");
			  		var text_start_span1 = document.createTextNode("");
			  		
			  		var start_li2 = document.createElement("li");
			  		var start_a2 = document.createElement("a");
			  		start_a2.setAttribute("href","#openModal");
			  		var start_span2 = document.createElement("span");
			  		var text_start_span2 = document.createTextNode("");
			  		
			  		var start_li3 = document.createElement("li");
			  		var start_a3 = document.createElement("a");
			  		start_a3.setAttribute("href","#openModal");
			  		var start_span3 = document.createElement("span");
			  		var text_start_span3 = document.createTextNode("");
			  		
			  		var start_li4 = document.createElement("li");
			  		var start_a4 = document.createElement("a");
			  		start_a4.setAttribute("href","#openModal");
			  		var start_span4 = document.createElement("span");
			  		var text_start_span4 = document.createTextNode("");
			  		
			  		var start_li5 = document.createElement("li");
			  		var start_a5 = document.createElement("a");
			  		start_a5.setAttribute("href","#openModal");
			  		var start_span5 = document.createElement("span");
			  		var text_start_span5 = document.createTextNode("");
			  	{% else %}
				  	var start_li1 = document.createElement("li");
			  		var start_a1 = document.createElement("a");
			  		start_a1.setAttribute("href","#");
			  		start_a1.setAttribute("onclick","sendCalification(1,'{{item.key.urlsafe()}}')");
			  		var start_span1 = document.createElement("span");
			  		var text_start_span1 = document.createTextNode("");
			  		
			  		var start_li2 = document.createElement("li");
			  		var start_a2 = document.createElement("a");
			  		start_a2.setAttribute("href","#");
			  		start_a2.setAttribute("onclick","sendCalification(2,'{{item.key.urlsafe()}}')");
			  		var start_span2 = document.createElement("span");
			  		var text_start_span2 = document.createTextNode("");
			  		
			  		var start_li3 = document.createElement("li");
			  		var start_a3 = document.createElement("a");
			  		start_a3.setAttribute("href","#");
			  		start_a3.setAttribute("onclick","sendCalification(3,'{{item.key.urlsafe()}}')");
			  		var start_span3 = document.createElement("span");
			  		var text_start_span3 = document.createTextNode("");
			  		
			  		var start_li4 = document.createElement("li");
			  		var start_a4 = document.createElement("a");
			  		start_a4.setAttribute("href","#");
			  		start_a4.setAttribute("onclick","sendCalification(4,'{{item.key.urlsafe()}}')");
			  		var start_span4 = document.createElement("span");
			  		var text_start_span4 = document.createTextNode("");
			  		
			  		var start_li5 = document.createElement("li");
			  		var start_a5 = document.createElement("a");
			  		start_a5.setAttribute("href","#");
			  		start_a5.setAttribute("onclick","sendCalification(5,'{{item.key.urlsafe()}}')");
			  		var start_span5 = document.createElement("span");
			  		var text_start_span5 = document.createTextNode("");
			  	{% endif %}
		  		
		  		var start_b2 = document.createElement("b");
		  		
		  		start_span5.appendChild(text_start_span5);
		  		start_a5.appendChild(start_span5);		  		
		  		start_li5.appendChild(start_a5);
		  		start_ul.appendChild(start_li5);
		  		
		  		start_span4.appendChild(text_start_span4);
		  		start_a4.appendChild(start_span4);
		  		start_li4.appendChild(start_a4);
		  		start_ul.appendChild(start_li4);
		  		
		  		start_span3.appendChild(text_start_span3);
		  		start_a3.appendChild(start_span3);
		  		start_li3.appendChild(start_a3);
		  		start_ul.appendChild(start_li3);
		  		
		  		start_span2.appendChild(text_start_span2);
		  		start_a2.appendChild(start_span2);
		  		start_li2.appendChild(start_a2);
		  		start_ul.appendChild(start_li2);
		  		
		  		start_span1.appendChild(text_start_span1);
		  		start_a1.appendChild(start_span1);
		  		start_li1.appendChild(start_a1);
		  		start_ul.appendChild(start_li1);
		  		
		  		{% if item.calification_average!=0 %}
		  			start_a{{item.calification_average}}.appendChild(start_b2);
		  		{% endif %}
		  		
		  		start_d.appendChild(start_b1);
		  		
		  		startRate.appendChild(start_d);
		  		startRate.appendChild(start_ul);
		  		
		  		estrellas_usuaestrellas.appendChild(text_estrellas_usuaestrellas);
		  		contestrella.appendChild(estrellas_usuaestrellas);
		  		
		  		contestrella.appendChild(startRate);
		  		
		  		
		  		/* estrellas5.appendChild(img6);
		  		contestrella.appendChild(estrellas5);
		  		estrellas4.appendChild(img5);
		  		contestrella.appendChild(estrellas4);
		  		estrellas3.appendChild(img4);
		  		contestrella.appendChild(estrellas3);
		  		estrellas2.appendChild(img3);
		  		contestrella.appendChild(estrellas2);
		  		estrellas1.appendChild(img2);
		  		contestrella.appendChild(estrellas1); */
		  		row_datanamerel.appendChild(contestrella);
		  		
		  		inforel_left.appendChild(row_datanamerel);
		  			  		
		  		
		  		info_caracteristica2_dataproductmain.appendChild(text_info_caracteristica2_dataproductmain);
		  		caracteristicas_medrel1.appendChild(info_caracteristica2_dataproductmain);
		  		row.appendChild(caracteristicas_medrel1);
		  		row.appendChild(separadorvertical1);
		  		
		  		info_caracteristica2_1.appendChild(text_info_caracteristica2_1);
		  		caracteristicas_medrel2.appendChild(info_caracteristica2_1);
		  		row.appendChild(caracteristicas_medrel2);
		  		row.appendChild(separadorvertical2);
		  		
		  		info_caracteristica2_2.appendChild(text_info_caracteristica2_2);
		  		caracteristicas_medrel3.appendChild(info_caracteristica2_2);
		  		row.appendChild(caracteristicas_medrel3);
		  		row.appendChild(separadorvertical3);
		  		
		  		info_caracteristica2_3.appendChild(text_info_caracteristica2_3);
		  		caracteristicas_medrel4.appendChild(info_caracteristica2_3);
		  		row.appendChild(caracteristicas_medrel4);
		  		
		  		inforel_left.appendChild(row);
		  		
		  		medrel_body.appendChild(inforel_left);
		  		
		  		inforel_right.appendChild(valormedrel);
		  		valormedrel.appendChild(text_valormedrel);
		  		medrel_body.appendChild(inforel_right);
		  		
		  		topmedrel.appendChild(medrel_body);
		  		med_relacionado.appendChild(topmedrel);
		  		pre.appendChild(med_relacionado);
		  		
		  		{% set count = count + 1 %}
				count = {{count}};
		  		
				{% endfor %} 
				
				/* tabla.appendChild(tblHead);
				tabla.appendChild(tblBody);
				body.appendChild(tabla);
				tabla.setAttribute("border", "1"); */
				
			{% endif %}
				

			    graph2();
		    
		    
		}
		
      function graph2(){
    	  $('.chart').horizBarChart({
    		  selector: '.bar',
    		  speed: 1000
    	  });
      }
      
      function reFresh() {
    	    location.reload(true);
      }
      
      function sendPOST(){
    	  var usr = "";
    	  {% if ferris.format_value(this.user) != "None" %}
    	  	usr = "{{ferris.format_value(this.user.key.urlsafe())}}";
    	  {% endif %}
    	  var med = "{{medication.key.urlsafe()}}";
    	  $.ajax({
    		  type: "POST",
			  url: "/favorites/add_favorite",
			  data: ("&user=" + usr
					  +"&medication=" + med),
			  success: function() {
				  console.log( $( this ).serialize());
			  }
    	  });
		}
      
      function sendCalification(cal, item_urlsafe){
    	  /* var theUrl = "/mayorista/calification/:" + "{{medication.key.urlsafe()}}"; */
    	  var theUrl = "/mayorista/calification/:" + item_urlsafe;
    	  alert('Su calificación con ' + cal + ' estrellas, fue recibida. Gracias');
    	  $.ajax({
    		  type: "POST",
			  url: theUrl,
			  data: ("&calification=" + cal),
			  success: function() {
				  console.log( $( this ).serialize());
				  reFresh();
			  }
    	  });
		}
      
      	  		
		var medi = localStorage.getItem('medi_ls').split(',');
		var safe = localStorage.getItem('safe_ls').split(',');
  		
  		/* var safe = safe_str.split(","); */
  		/* var medi = medi_str.split(","); */
  		
  		function redirect(url){
			location.href=url;
		}
		
		function getUrl(){
			var info = document.getElementById('medicam').value;
        	
        	var position = medi.indexOf(info);
        	if(position != -1) { 
        		var url = "/mayorista/view_medication/:"+safe[position];
        		redirect(url);
        	}
		}
		
		$(document).ready(function () {
            $('input.medicam').typeahead({
                name: 'medicamentos',
                local: medi,
                limit:10
            });
        });
		
    </script>

</html>

